<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
</head>

<body>
    <h1>Atelier 3</h1>
    <h2>Exercice 2</h2>
    <br>
    <div class="list-group-item list-group-item-light">
    </div>
    <label class="col-form-label-lg"> Rayon : </label>
    <input type="number" [(ngModel)]="rayon" />

    <button (click)="surfaceCercle()">Calculer surface</button>
    <p>{{result}}</p>

    <label class="col-form-label-lg"> Côté : </label>
    <input type="number" [(ngModel)]="cote" />

    <button (click)="surfaceCarre()">Calculer surface Carré</button>
    <p>{{ resultcarre }}</p>

</body>

</html>